# .gitignore

# Python and Environments
__pycache__/
*.pyc
.mypy_cache/
matrix_env/

# === EXERCISE 1 ADDITIONS ===
# IDEs and editors configuration (Avoid pushing local settings)
.vscode/
.idea/
*.swp
matrix_analysis.png

# === EXERCISE 2 ADDITIONS ===
.env